.header {
    position: sticky;
    width: 100%;
    height: 100px;
    left: 0;
    top: 0;
    display: flex;
    justify-content: space-between; /* Distribui os elementos uniformemente */
    align-items: center;
    background-color: #fff; /* Cor de fundo do header */
    z-index: 1000; /* Z-index alto para manter o header sobre outros elementos */
    padding: 0 20px; 
}
.nav-center {
    position: absolute;
    left: 2.6%;
    right: 6.94%;
    top: 29%;
    bottom: 30%;

}
  
.logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 5px;
    position: absolute;
    left: 2.6%;
    right: 82.26%;
    top: 29%;
    bottom: 30%;
}

.logo img {
    height: 80px;
    display: flex;
}

.titulo{
    font-size: 18px;
}


  
.nav-links {    
    display: flex;
    position: relative;
    left: 20px;
    list-style: none;
    margin: 0;
    padding: 0;
    flex: 2;
    justify-content: center; 
    align-items: center; 
    
      
}
  
.nav-links li {
    margin: 0 50px;
    margin-top: 10px;
}
  
.nav-links a {
    text-decoration: none;
    color: #000000;
    font-size: 18px;
}
  
.nav-icons {
    display: flex;
    align-items: center;
    flex: 1;
    justify-content: right;
}
  
.icon {
    position: relative;
    bottom: 25px;
    margin-left: 40px;
    width: 24px;
    height: 24px;
    fill: #333;
    cursor: pointer;
}


@media (max-width: 768px) {
    .header{
        padding: 10px 20px;
    }

    .nav-center {
        flex-direction: column; 
        align-items: center;
    }


    .logo {
        margin-bottom: 50px;
        margin-left: 130px;
    }

    .nav-links {
        margin-top: 40px; 
        margin-right: 100px;

    }

    .nav-links li {
        margin-right: 0; 
        margin-bottom: 10px; 
    }

    .titulo {
        font-size: 18px; /* Reduz o tamanho do título */
    }

    .nav-icons {
        display: none;
    }

   
}